---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import BlogList from '@components/blog/BlogList.astro';

const posts = await getCollection('blog').then((collection) =>
  collection.reverse()
);
---

<Layout
  title='Blog'
  description="Pensieri, visioni e programmi di Nuova Atlantide per un'Italia all'avanguardia tecnologica, prospera e giusta."
  pageTitle='Nuova Atlantide | Blog'
>
  <main class='bg-green p-6'>
    <BlogList posts={posts} />
  </main>
</Layout>
