---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import { Pill } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';

const keywords = [
  { name: 'Innovazione' },
  { name: 'Tecnologia' },
  { name: 'AI' },
  { name: 'Merito' },
  { name: 'Ricerca' },
  { name: 'Riforma' },
  { name: 'Progresso' },
];
---

<Layout
  title='Home'
  pageTitle='Nuova Atlantide | Home'
  description="Nuova Atlantide - Un gruppo di pensiero per l'innovazione radicale nel Drin Drin"
>
  <main class='bg-pink p-6'>
    <!-- <MobileSocials /> -->
    <section id='about' class='grid grid-cols-1 md:grid-cols-8 gap-8 mt-4'>
      <h2 class='hidden'>Su Nuova Atlantide</h2>
      <div class='col-span-1 md:col-span-4 flex'>
        <Card class="w-full">
          <div class='flex flex-col justify-between h-full'>
            <p class='mt-4 outfit text-2xl md:text-5xl lg:text-6xl'>
              Un gruppo di pensiero per l'innovazione radicale nel Drin Drin
            </p>
            <!-- <p class='mt-2 outfit text-xl md:text-3xl lg:text-5xl'>
              
            </p> -->
            <div class="flex justify-end w-full">
              <Button target={'_self'} href='/blog/manifesto/'>
                Leggi il manifesto &rarr;
              </Button>
            </div>
          </div>
        </Card>
      </div>
      <div class='col-span-1 md:col-span-2 flex'>
        <Card class="w-full">
          <div class="flex flex-col h-full">
            <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
              Le nostre parole chiave
            </h2>
            <ul class='flex gap-4 flex-wrap'>
              {
                keywords.map((item) => (
                  <li>
                    <Pill>
                      <span class='sanchez'>
                        {item.name}
                      </span>
                    </Pill>
                  </li>
                ))
              }
            </ul>
          </div>
        </Card>
      </div>
      <div class='col-span-1 md:col-span-2 flex'>
        <Card class="w-full">
          <div class="flex flex-col h-full">
            <h2 class='text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif'>
              Chi siamo
            </h2>
            <p class='poppins'>
              Nuova Atlantide è un gruppo di pensiero dedicato all'innovazione radicale nel Drin Drin, 
              promuovendo idee e iniziative per il progresso tecnologico e sociale.
            </p>
                  <div class='col-span-1 md:col-span-2'>
        <Card>
          <p class='sanchez text-lg font-bold text-center'>
              Dal 30 al 5 si vota, fai la scelta giusta.
            </p>
        </Card>
      </div>
    </section>
    <RecentBlogPosts />
  </main>
</Layout>
