---
import type { CollectionEntry } from 'astro:content';
import BlogSummaryCard from './BlogSummaryCard.astro';

interface Props {
  posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props;
// Filter out the manifesto post
const filteredPosts = posts.filter(post => post.id !== 'manifesto');
---

<ul class='grid md:grid-cols-2 lg:grid-cols-3 gap-8'>
  {
    filteredPosts.map((post) => {
      return (
        <li>
          <BlogSummaryCard post={post} />
        </li>
      );
    })
  }
</ul>
